// Colours partial

$white-color: #fff;
$black-color: #000;
$orange-color: #CE8523;
// Text colours
$txt-primary: $white-color;
// body font
$txt-secondary: white;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #ACB1B4;
$form-placeholder: #BCC1C3;
// form placeholder text
// Global colours
$accent-color: #e8ca6f;
// global accent colour
$accent-color-hover: #d3b56a;
// global accent colour hover
// Typography colours
$h2-color: $white-color;
$h3-color: $orange-color;
$h4-color: $white-color;
$h5-color: $white-color;
// Layout colours
$section-light: #fff;
$section-dark: #f8f9fd;
$to-top-bg: #495061;
$footer-primary: #3D4351;
$footer-secondary: #373D4A;
/**
Options: #687259

*/
$bg-color: #354739;
// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #4E566C;